$button-color: #a21c3d;
$primary-color: #042340;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: 14px;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.header {
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 2rem 1rem;

    &__logo {
        width: 9rem;
    }

    &__searchContainer {
        font-size: 1.5rem;
    }
}


.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $button-color;
    color: #fff;
    z-index: 2;
}

.menu {
    width: 100%;
    list-style-type: none;
    background-color: $button-color;
    text-align: center;


    &--desktop {
        display: none;
    }

    &--mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 0.7rem 0;
    }

    &__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__description {
        flex-basis: 100%;
    }
}

.latestNews {
    display: flex;
    flex-wrap: wrap;
    background-color: #efefef;

    &__detail {
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }

    &__title {
        padding: 0 1rem 1rem 1rem;
        font-size: 1.8rem;
        font-weight: bold;

        &--small {
            font-size: 1.2rem;
        }
    }

    &__article {
        text-decoration: none;
        color: black;

        &:visited {
            text-decoration: none;
        }

        &--small {
            flex-basis: 50%;
        }
    }

    &__photo {
        width: 100%;
    }
}

.nextMatchContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: $primary-color;
    width: 100%;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
}

.matchDetail {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    &__host {
        display: flex;
        gap: 0.8rem;

    }

    &__dateBox {
        text-align: center;
    }

    &__date {
        font-weight: bold;
    }

    &__guest {
        display: flex;
        gap: 0.8rem;
    }
}